@model IEnumerable<OrbisGame.Models.UsuariosViewModel>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orbis Game</title>
    <link rel="stylesheet" href="~/css/Menu.css" /> <!--ACA invoco al diseño (css) que esta en la clase site.css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
    <!--ESTA ES LA VISTA PARA EL CATALOGO DE JUEGOS PARA DESCARGAR-->

    <div class="wrapper">
        <div class="sidebar">
            <h2><i class="fas fa-user-secret">Opciones</i></h2>
            <ul>
                <!--CREO LOS ICONOS DEL MENU DE OPCIONES -->
                <li><a href="../Home/MainAdmin"> <i class="fas fa-home"></i>Home</a></li> <!--fas se relaciona con el fas de la clase site.cc linea 108. alli le aplico eldiseño a todo lo que tenga fas-->
                <li><a href="../Home/AltaJuego"><i class="fab fa-playstation"></i>Alta Juego</a></li> <!-- Lista de juegos descargados-->
                <li><a href="../Home/UsuariosActivos"><i class="fas fa-users"></i>Usuarios Activos</a></li> <!--Catalogo de juegos para descargar-->
                <li><a href="../Home/Inicio"> <i class="fas fa-times"></i>Cerrar Sesion</a></li> <!--Cerrar sesion-->
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="container">
                                <div class="container">
                                    <h5>Usuarios Registrados</h5>

                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Nombre y Apellido</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Gmail</th>
                                                <th scope="col">Contraseña</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        
                                        <form asp-controller="Home" asp-action="UsuariosActivos" class="was-validated" method="post">
                                            <thead>
                                                @{
                                                    if (Model != null)
                                                    {
                                                        foreach (OrbisGame.Models.UsuariosViewModel user in Model)
                                                        {
                                                            <tr>
                                                                <th scope="col" value=@user.IdUsuario>@user.NombreyApellido</th>
                                                                <th scope="col" value=@user.IdUsuario>@user.Usuario</th>
                                                                <th scope="col" value=@user.IdUsuario>@user.Mail</th>
                                                                <th scope="col" value=@user.IdUsuario>@user.Contraseña</th>
                                                                <th scope="col"><input type="submit" class="btn btn-danger" asp-route-idUser="@user.IdUsuario" value="Eliminar"><i class="bi bi-download"></i></th>

                                                            </tr>
                                                        }
                                                    }
                                                }

                                            </thead>                                                
                                        </form>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>


</html>